<div style="padding: 1rem;">
  <div>
    <h1>Utenti e ruoli</h1>
    <p style="color: #6A7282;">Gestisci gli utenti del sistema e i loro ruoli</p>
  </div>
  <div style="margin-top: 1rem;">
    <app-search-users (search)="onSearch($event)"></app-search-users>
  </div>
  <div style="margin-top: 1.5rem;">
    <app-data-table-users
      [data]="list"
      [loading]="loading"
      (onSave)="onSave($event)"
      (onDelete)="onDelete($event)"
      (onCreate)="onCreate($event)"
      [resetPagingTrigger]="resetPagingCount"
    ></app-data-table-users>
  </div>
</div>
