<div class="map-page">
  <aside class="map-sidebar">
    <h3>Filtri</h3>
    <mat-checkbox [formControl]="showAssets">Immobili</mat-checkbox>
    <mat-checkbox [formControl]="showUtilities">Contatori</mat-checkbox>

    <app-filterable-select
      label="Aggregato immobile"
      [options]="assetAggregatorOptions"
      [formControl]="assetAggregatorId">
    </app-filterable-select>

    <app-filterable-select
      label="Tipo utenza"
      [options]="utilityTypeOptions"
      [formControl]="utilityTypeId">
    </app-filterable-select>

    <div class="map-legend">
      <div><span class="map-pin" style="background:#37474f"><i class="fa fa-building"></i></span> Immobile</div>
      @for (t of hardTypeLegend; track t.value) {
        <div><span class="map-pin" [style.background]="t.color"><i [class]="t.icon"></i></span> {{ t.label }}</div>
      }
      <div class="map-legend-note">Bordo pieno = posizione GPS reale, tratteggiato = stimata da indirizzo</div>
    </div>

    @if (ungeolocated.length > 0) {
      <h3>Non geolocalizzabili ({{ ungeolocated.length }})</h3>
      <ul class="map-ungeolocated-list">
        @for (item of ungeolocated; track item.id + item.type) {
          <li (click)="openDetail(item)">
            {{ item.name }}
            <span class="map-reason">{{ reasonLabels[item.reason] }}</span>
          </li>
        }
      </ul>
    }
  </aside>

  <div id="map-canvas" class="map-canvas"></div>
</div>
