
.field-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.field-group label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #495057;
}

.field-group > p-select,
.field-group > p-inputnumber,
.field-group > p-calendar {
    width: 100%;
}

.field-group input,
.field-group .p-inputtext,
.field-group .p-dropdown,
.field-group .p-inputwrapper {
    width: 100%;
}


.field-group .p-checkbox-box {
    margin-top: 0.1rem;
}

@media (max-width: 991px) {
    
    .p-dialog-content form > div {
        flex-direction: column;
        gap: 0.5rem;
    }
}