<div style="padding: 1rem;">
  <div>
    <h1>Gestione Utenze</h1>
    <p style="color: #6A7282;">Gestisci le anagrafiche delle utenze</p>
  </div>

  <div style="margin-top: 1rem;">
    <app-search-utilities (search)="onSearch($event)"></app-search-utilities>
  </div>

  <div style="margin-top: 1.5rem;">
    <app-data-table-utilities
      #dataTable
      [data]="list"
      [loading]="loading"
      (onSave)="onSave($event)"
      (onDelete)="onDelete($event)"
      (onCreate)="onCreate($event)"
      (onRestore)="onRestore($event)"
      [resetPagingTrigger]="resetPagingCount"
    ></app-data-table-utilities>
  </div>
</div>
