<div class="main-layout">

  <header class="header">
    <div class="header-left">
      @if (logo) {
        <img [src]="logo" alt="" class="brand-logo">
      }
      <div class="header-left-text">
        <h1>Gestione Utenze</h1>
        <p>{{ entityName }}</p>
      </div>
    </div>
    <div class="header-right">
      <span class="user-initials">{{ userInitials }}</span>
    </div> 
  </header>

  <div class="body">
    <aside class="sidebar">
      <app-sidebar></app-sidebar>
    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>
