<div style="padding: 1rem;">
  <div>
    <h1>Gestione Concessioni</h1>
    <p style="color: #6A7282;">Gestisci le concessioni.</p>
  </div>
  <div style="margin-top: 1rem;">
    <app-search-utilizer-grant (search)="onSearch($event)"></app-search-utilizer-grant>
  </div>
  <div style="margin-top: 1.5rem;">
    <app-data-table-utilizer-grant [data]="list"
      [loading]="loading"
      (onSave)="onSave($event)"
      (onDelete)="onDelete($event)"
      (onCreate)="onCreate($event)"
      (onRestore)="onRestore($event)"
      [resetPagingTrigger]="resetPagingCount"
    ></app-data-table-utilizer-grant>
  </div>
</div>
