<!-- src/app/pages/login/login.component.html -->
<div class="login-page">
  <div class="login-left">
  </div>

  <div class="login-right">
    <div class="brand-header">
      @if (logo) {
        <img [src]="logo" alt="" class="brand-logo">
      }
      <div class="brand-text">
        <h2 style="font-size: 30px;">UtenzePA</h2>
        <p>{{ entityName }}</p>
      </div>
    </div>
    @if (!showReset && !showOtp) {
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <p style="text-align: left; padding-bottom: 0px; font-size: 16px;"><b>Accesso al Sistema</b></p>
          <p style="text-align: left;color: #717182;">Inserisci le tue credenziali per accedere</p>
        </div>
        <div>
          <label for="username">Username</label>
          <input id="username" formControlName="username" type="text">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password">
        </div>
        @if (error) {
          <div class="error">{{ error }}</div>
        }
        <div style="text-align: right;">
          <p
            style="display: inline-block; cursor: pointer; color: black;"
            (click)="showResetForm()"
            >
            Password dimenticata?
          </p>
        </div>
        <button type="submit">Accedi</button>
      </form>
    }

    @if (showReset) {
      <form [formGroup]="resetForm" (ngSubmit)="sendOtp()">
        <p>Inserisci la tua email per ricevere il codice OTP:</p>
        <input formControlName="email" type="email" placeholder="Email">
        <button type="submit" style="margin-bottom: 20px;">Invia OTP</button>
        <button type="button" (click)="showReset = false" class="second-button">Torna al login</button>
      </form>
    }

    @if (showOtp) {
      <form [formGroup]="otpForm" (ngSubmit)="resetPassword()">
        <p>Inserisci OTP e nuova password:</p>
        <input formControlName="otp" type="text" placeholder="OTP">
        @if (otpError) {
          <div class="error">{{ otpError }}</div>
        }
        <input formControlName="newPassword" type="password" placeholder="Nuova Password">
        <button type="submit" style="margin-bottom: 20px;">Aggiorna Password</button>
        <button type="button" (click)="showLoginForm()" class="second-button">Torna al login</button>
      </form>
    }

  </div>
</div>
