<h2 mat-dialog-title>
  {{ isNew ? 'Nuovo Gestore Manutenzione' : 'Modifica Gestore: ' + data.item.code }}
</h2>

<mat-dialog-content>
  <form [formGroup]="form" [readOnly]="['Lettore']" style="display: flex; flex-wrap: wrap; gap: 1rem;">
    <mat-form-field style="flex: 1 1 45%;">
      <mat-label>Codice Gestore *</mat-label>
      <input matInput formControlName="code">
      @if (form.controls.code.invalid && form.controls.code.touched) {
        <mat-error>Obbligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="flex: 1 1 100%;">
      <mat-label>Descrizione</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">Annulla</button>
  <button mat-flat-button (click)="save()" [disabled]="!form.valid" [appHasRole]="['Admin','Operatore']">
    {{ isNew ? 'Aggiungi Gestore Manutenzione' : 'Salva Gestore' }}
  </button>
</mat-dialog-actions>
