<div class="location-map-wrapper">
  <div [id]="canvasId" class="location-map-canvas"></div>
  @if (usingOwnPosition && latitude && longitude) {
    <button mat-stroked-button type="button" class="location-map-clear" (click)="clearPosition()">
      Cancella posizione manuale
    </button>
  }
  @if (!usingOwnPosition && latitude && longitude) {
    <div class="location-map-hint">Posizione ereditata dall'immobile collegato</div>
    <button mat-stroked-button type="button" class="location-map-own-position" (click)="enableOwnPosition()">
      Imposta posizione propria
    </button>
  }
</div>
