<div style="padding: 1rem;">
  <div>
    <h1>Finalità d'uso</h1>
    <p style="color: #6A7282;">Gestisci le anagrafiche delle finalità d'uso</p>
  </div>
  <div style="margin-top: 1rem;">
    <app-search-purpose (search)="onSearch($event)"></app-search-purpose>
  </div>
  <div style="margin-top: 1.5rem;">
    <app-data-table-purpose [data]="list"
      [loading]="loading"
      (onSave)="onSave($event)"
      (onDelete)="onDelete($event)"
      (onCreate)="onCreate($event)"
      (onRestore)="onRestore($event)"
      [resetPagingTrigger]="resetPagingCount"
    ></app-data-table-purpose>
  </div>
</div>
